service hardware-google-media-c2-software-hal-1-0 /vendor/bin/hw/hardware.google.media.c2@1.0-service-software
    class hal
    user media
    group mediadrm drmrpc
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks
